*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/math-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}
#sharp{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top right, #0014FF, #009EFF, rgb(0, 231, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#con{
    position: absolute;
    background-image: linear-gradient(to bottom, #3F0071, #150050 );
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 30px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus{
    box-shadow: none;
    outline: none;
    transition: 0.1s ease;
    color: whitesmoke;
    border: none;
}

.btn, .btn:active, .btn:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:hover{
    transition: 0.5s ease;
    background-image: linear-gradient(to left, rgb(17, 60, 252), rgb(21, 151, 229));
    border: none;
}
.nav-link, .nav-link:active{
    width: 100%;
    color: whitesmoke !important;
    transition: 0.1s ease;
    margin: 5px 0;
}
.nav-pills .nav-link:not(:active):hover{
    background-image: linear-gradient(to left, rgb(17, 60, 252), rgb(21, 151, 229));
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.h2{
    font-style: italic;
    letter-spacing: 2px;
}
.nav-pills .nav-link.active{
    background-image: linear-gradient(to left, rgb(17, 60, 252), rgb(21, 151, 229));
    transition: 0.1s ease;
}
.nav-link:not(.active){
    border: solid 1px rgb(17, 60, 252);
}

.nav-item{
    width: 16%;
}
#pills-tab{
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 1400px){
    .nav-item{
        width: 30%;
    }
    #pills-tab{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.btn-danger, .btn-danger:active, .btn-danger:focus{
    background: transparent;
    border: 1px solid rgb(207, 10, 10);
}
.btn-danger:hover{
    border: 1px solid transparent;
    border-right: transparent;
    background-image: linear-gradient(to right, rgb(237, 41, 57), rgb(124, 10, 2));
    background-position: center;
    transform: scale(1.03);
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-success{
    background-image: linear-gradient(to right, #3CB043, #234F1E);
    transition: 0.1s ease;
}
.btn-success:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s ease;
    transform: scale(1.03);
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
